@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f9fafb;
  font-family: system-ui, -apple-system, BlinkMacSystemFont;
}

.input {
  width: 100%;
  padding: 10px;
  border: 1px solid #d1d5db;
  border-radius: 8px;
}
